# Node modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
*.js
!eslint.config.js
!jest.config.js
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
